@tailwind base;
@tailwind components;
@tailwind utilities;

/* ——————————— BASE ——————————— */
html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* —————————— LAYOUT —————————— */
@layer base {
  .site-container {
    @apply flex flex-col h-full;
  }

  .page-container {
    @apply p-10 h-full;
  }

  .page-content {
    @apply flex grow shrink basis-auto;
  }

  .footer-icon {
    @apply text-xl text-woodsmoke-950 hover:scale-125 transform transition ease-in-out duration-200;
  }

  .footer-waves {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .footer-waves svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
  }

  .platform-footer-waves .shape-fill {
    @apply fill-emerald-200;
  }

  .landing-footer-waves .shape-fill {
    @apply fill-antique-brass-200 dark:fill-woodsmoke-950;
  }
}

/* —————————— MODULE —————————— */
@layer base {
  .border-default-color {
    @apply border-black dark:border-inherit;
  }

  .chip-no-animation {
    @apply text-xs font-bold rounded-full px-3 py-1 border;
  }

  .chip {
    @apply chip-no-animation hover:scale-110 transform transition ease-in-out duration-200;
  }

  .badge {
    @apply bg-primary text-xs uppercase font-bold rounded-full absolute top-0 right-0 mt-9 mr-3 flex w-10 h-10 justify-center items-center;
  }

  .badge-2 {
    @apply bg-secondary text-xs uppercase font-bold rounded-full flex border border-default-color px-2 py-1 items-center;
  }

  .star {
    @apply h-4 w-4;
  }

  .tile-parent {
    @apply flex flex-col justify-between w-full aspect-video border rounded-lg overflow-hidden bg-[#ededed] dark:bg-[#313234] hover:shadow-lg relative transition ease-in-out duration-200;
  }

  .tile-child-1,
  .tile-child-2,
  .tile-child-3 {
    @apply h-3 w-3 rounded-full bg-[#ccc] dark:bg-[#464646] transition ease-in-out duration-200;
  }

  .tile-parent:hover .tile-child-1 {
    @apply bg-[#ff6259];
  }

  .tile-parent:hover .tile-child-2 {
    @apply bg-[#ffc13d];
  }

  .tile-parent:hover .tile-child-3 {
    @apply bg-[#17c94b];
  }

  .tools-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    @apply grid gap-5;
  }

  .sidebar-item {
    @apply h-5 w-5 flex-shrink-0;
  }

  .form-row {
    @apply flex gap-5 items-center;
  }

  .form-item {
    @apply flex flex-col gap-2;
  }

  .card {
    /* @apply w-1/4 relative left-0 border rounded-lg overflow-hidden aspect-[3.375/2.125] rotate-90; */
    @apply w-1/2 relative flex justify-center items-center left-0 rounded-xl overflow-hidden aspect-[3.375/2.125] shadow-md bg-white dark:bg-black;
  }

  .card:not(:first-child) {
    @apply ml-[-150px];
  }

  .card:hover {
    @apply transition-all ease-in-out duration-500;
    transform: translateY(20px);
  }

  .card:hover ~ .card {
    left: 150px;
  }

  .spotlight {
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  .separator {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .separator::before,
  .separator::after {
    content: "";
    flex: 1;
    border-bottom-width: 1px;
  }

  .separator:not(:empty)::before {
    margin-right: 0.25em;
  }

  .separator:not(:empty)::after {
    margin-left: 0.25em;
  }

  .expandable-content {
    @apply transition-all ease-in-out duration-500;
  }

  /* Algolia Inline Search */

  .ais-InstantSearch-inline {
    @apply max-w-48 w-full overflow-hidden;
  }

  .inline-search-box {
    @apply w-full h-8 p-3 bg-white dark:bg-[#121212] border placeholder-muted-foreground focus:outline-none focus:border-emerald-400 rounded-lg focus:rounded-b-none text-xs;
  }

  .inline-search-submit-icon {
    @apply hidden;
  }

  .inline-search-reset-icon {
    @apply absolute top-1 right-0 w-3 px-0.5 h-6 mr-4 fill-woodsmoke-700 dark:fill-woodsmoke-100 bg-white dark:bg-[#121212];
  }

  .ais-Hits-list-inline {
    @apply w-full md:max-w-48 flex overflow-x-scroll gap-3 p-3 fixed shadow-md border-x border-b bg-white z-50 dark:bg-neutral-800;
  }

  .ais-Hits-item-inline {
    @apply chip;
  }

  .ais-Hits-item-inline-disabled {
    @apply text-xs font-bold rounded-full border px-3 py-1 text-muted-foreground bg-woodsmoke-100 dark:bg-woodsmoke-900;
  }

  /* Algolia Global Search */

  .ais-InstantSearch {
    @apply max-w-[600px] w-full my-0 mx-5 overflow-hidden;
  }

  .search-box {
    @apply w-full h-10 pl-10 pr-3 py-2 bg-white dark:bg-[#121212] border border-default-color placeholder-muted-foreground focus:outline-none focus:border-emerald-400 rounded-full text-sm;
  }

  .search-submit-icon {
    @apply absolute top-0 left-0 w-4 h-10 ml-4 fill-woodsmoke-700 dark:fill-woodsmoke-100;
  }

  .search-reset-icon {
    @apply absolute top-1 right-0 w-4 px-0.5 h-8 mr-4 fill-woodsmoke-700 dark:fill-woodsmoke-100 bg-white dark:bg-[#121212];
  }

  .ais-Hits-list-global {
    @apply w-full md:max-w-[600px] flex flex-col fixed top-full left-0 md:left-auto shadow-md border-x border-b;
  }

  .ais-Hits-list-global .ais-Hits-item-global {
    @apply w-full md:max-w-[600px] px-5 py-3 bg-white dark:bg-neutral-800 border-b;
  }

  .highlighted-hits {
    @apply bg-selective-yellow-200 dark:bg-selective-yellow-300;
  }

  .dropzone-border {
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='white' stroke-width='2' stroke-dasharray='9%2c 14%2c 11' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    /* border-radius: 10px; */
    @apply border-4 border-dashed border-muted-foreground;
  }

  .receipt {
    @apply w-80 h-full flex flex-col justify-around items-center p-5 overflow-hidden;
    filter: drop-shadow(0 1px rgba(0, 0, 0));
  }

  .receipt::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    @apply bg-primary-foreground rounded-t-xl border border-default-color pointer-events-none;
    --mask: conic-gradient(
        from -45deg at bottom,
        #0000,
        #000 1deg 89deg,
        #0000 90deg
      )
      50%/2rem 100%;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .custom-shape-divider-top-1733810752 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1733810752 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
  }

  .custom-shape-divider-top-1733810752 .shape-fill {
    @apply fill-antique-brass-100;
  }

  .custom-shape-divider-bottom-1733811252 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1733811252 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 31px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1733811252 .shape-fill {
    @apply fill-woodsmoke-950;
  }
}

/* —————————— STATES —————————— */
@layer base {
}

/* —————————— THEMES —————————— */
@layer base {
  .h1 {
    @apply text-2xl md:text-3xl lg:text-5xl font-extrabold select-none;
  }

  .h2 {
    @apply text-xl lg:text-2xl font-bold select-none;
  }

  .h3 {
    @apply text-base md:text-lg font-medium text-muted-foreground select-none;
  }

  .subtitle {
    @apply text-base md:text-lg font-medium mb-5 text-muted-foreground select-none;
  }

  .text-2xs {
    @apply text-[0.625rem] leading-3;
  }

  .text-3xs {
    @apply text-[0.5rem] leading-[0.5rem];
  }

  .lesson-h1 {
    @apply text-xl md:text-3xl font-extrabold select-none;
  }

  .lesson-subtitle {
    @apply font-medium mt-1 mb-5 text-gray-500 select-none;
  }

  .label {
    @apply text-sm font-bold;
  }
}
